<form class="send-form" action="/contacts" method="POST">
    <label for="name">
        Ваше имя:
        <input type="text" id="userName" name="userName">
    </label>
    <label for="password">
        Ваш пароль:
        <input type="password" id="userPass" name="userPass">
    </label>
    <label for="email">
        Ваш емеил:
        <input type="email" id="userEmail" name="userEmail">
        <input type="submit" value="Отправить">
    </label>
</form>