<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="main-navigation">
        <a href="/" class="link">Главная</a>
        <a href="/about" class="link">О нас</a>
        <a href="/contacts" class="link">Контакты</a>
    </nav>
    {{{body}}}
</body>
</html>